In [38]:
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sb

import numpy as np
import pandas as pd

In [39]:
my_data = pd.DataFrame([['A', 10], ['A', 14], ['B', 12], ['B', 23],], columns=['type', 'value'])

In [40]:
my_stat = pd.read_csv('https://stepik.org/media/attachments/course/4852/my_stat.csv')

In [41]:
my_stat.head()

   V1    V2 V3   V4
0   2  13.0  B  1.0
1  -1   7.0  B  1.0
2   0  11.0  A  0.0
3   2  11.0  A  2.0
4   0  10.0  B -1.0

In [42]:
subset_1 = my_stat.iloc[:10, [0, 2]]

In [43]:
subset_2 = my_stat.iloc[:, [1, 3]].drop([0,4])

In [44]:
subset_1 = my_stat[(my_stat.V1 > 0) & (my_stat.V3 == 'A')]
subset_2 = my_stat[(my_stat.V2 != 10) | (my_stat.V4 >= 1)]

In [45]:
my_stat['V5'] = my_stat.V1 + my_stat.V4
my_stat['V6'] = np.log(my_stat.V2)

In [46]:
my_stat = my_stat.rename(
    columns = {
        'V1': 'session_value',
        'V2': 'group',
        'V3': 'time',
        'V4': 'n_users',
    }
)

In [47]:
my_stat.session_value.fillna(0, inplace=True)

In [48]:
my_stat.head()

   session_value  group time  n_users   V5        V6
0              2   13.0    B      1.0  3.0  2.564949
1             -1    7.0    B      1.0  0.0  1.945910
2              0   11.0    A      0.0  0.0  2.397895
3              2   11.0    A      2.0  4.0  2.397895
4              0   10.0    B     -1.0 -1.0  2.302585

In [49]:
my_stat.loc[my_stat.n_users <= 0, 'n_users'] = np.median(my_stat[my_stat.n_users > 0].n_users)

In [50]:
my_stat.head()

   session_value  group time  n_users   V5        V6
0              2   13.0    B      1.0  3.0  2.564949
1             -1    7.0    B      1.0  0.0  1.945910
2              0   11.0    A      1.0  0.0  2.397895
3              2   11.0    A      2.0  4.0  2.397895
4              0   10.0    B      1.0 -1.0  2.302585

In [51]:
mean_session_value_data = my_stat.groupby('group', as_index=False).agg({'session_value': 'mean'}) \
    .rename(columns = {'session_value': 'mean_session_value'})