In [12]:
from sklearn import tree
from sklearn.model_selection import cross_val_score
import matplotlib.pyplot as plt
import seaborn as sb
import numpy as np
import pandas as pd

%matplotlib inline

In [2]:
from IPython.display import SVG
from graphviz import Source
from IPython.display import display

In [15]:
df_train = pd.read_csv('../data/dogs_n_cats.csv')

In [23]:
df_train = df_train.sample(frac=1).reset_index(drop=True)
df_train.head()

   Длина  Высота  Шерстист  Гавкает  Лазает по деревьям      Вид
0     21    25.2         1        1                   0  собачка
1     16    19.2         1        1                   0  собачка
2      5     2.0         1        0                   1    котик
3      7     2.8         1        0                   1    котик
4     23    27.6         1        1                   0  собачка

In [20]:
y_train = df_train['Вид']
X_train = df_train.drop(['Вид'], axis=1)

In [22]:
X_train.head()

   Длина  Высота  Шерстист  Гавкает  Лазает по деревьям
0      5     2.0         1        0                   1
1      5     2.0         1        0                   1
2     28    33.6         1        1                   0
3     17    20.4         1        1                   0
4     31    37.2         1        1                   0

In [27]:
clf = tree.DecisionTreeClassifier(max_depth=5, criterion='entropy')
clf.fit(X_train, y_train)
score = cross_val_score(clf, X=X_train, y=y_train, cv=5)
    
score

array([1., 1., 1., 1., 1.])

In [29]:
df_test = pd.read_json('../data/dataset_209691_15.txt')
df_test.head()

    Длина  Высота  Шерстист  Гавкает  Лазает по деревьям
0      29    34.8         1        1                   0
1      32    38.4         1        1                   0
10     15    18.0         1        1                   0
11     30    36.0         1        0                   0
12     29    34.8         1        0                   0

In [31]:
predicts = clf.predict(df_test)

In [32]:
l = list(predicts)
l.count('собачка')

57